@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-light: #F9F7F3;
  --color-primary-dark: #1A1A1A;
  --color-comp-light: #FFFFFF;
  --color-comp-dark: #2C2C2C;
  --color-txt-primary-light: #333333;
  --color-txt-primary-dark: #F0F0F0;
  --color-txt-secondary-light: #666666;
  --color-txt-secondary-dark: #CCCCCC;
  --color-accent-teal: #2C7A7B;
  --color-accent-teal-light: #4FD1C5;
  --color-accent-teal-dark: #225E5F;
  --color-accent-teal-darker: #319795;
  --color-warm-gray-soft: #EAE7E2;
  --color-warm-gray-dark: #424242;
  --color-teal-light-bg: #E0F2F7;
  --color-teal-dark-bg: #1A3636;
  --color-error-red: #EF4444;
  --color-error-light-bg: #FEE2E2;
  --color-error-light-txt: #B91C1C;
  --color-error-red-darker: #DC2626;
  --color-error-dark-bg: #4A0E0E;
  --color-error-dark-accent: #F87171;
  --color-error-dark-txt: #FCA5A5;
  --color-label-pink-bg: #FFD9D2;
  --color-label-red-txt: #D46A6A;
  --color-label-dark-bg: #4A2A2A;
  --color-label-dark-txt: #FFD4D0;
  --color-soft-blue-gray: #DCE3E8;
  --color-gray-dark-hvr: #555555;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-lora);
}


@layer base {
  :root {
  @apply  bg-primary-light text-txt-primary-light dark:bg-primary-dark dark:text-txt-primary-dark;
}
}

@layer utilities {


  .navbar {
    @apply 
      w-64 flex flex-col h-screen  bg-comp-light border-r border-gray-200 pt-8 
      max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px] dark:bg-comp-dark 
      dark:border-comp-dark;
  }

  .navbar-item {
    @apply flex items-center px-4 py-1.5 rounded-lg text-base font-medium transition-colors duration-200;
  }

  .navbar-item.active {
    @apply bg-teal-light-bg text-accent-teal-dark font-semibold dark:bg-teal-dark-bg dark:text-accent-teal-light;
  }

  .navbar-item.not-active {
    @apply text-txt-secondary-light hover:bg-warm-gray-soft hover:text-txt-primary-light dark:text-txt-secondary-dark
     dark:hover:bg-primary-dark dark:hover:text-txt-primary-dark;
  }
}